<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
<div class="container">
    <h2 class="text-center">更新传承人信息</h2>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-md-2 col-md-offset-2 control-label" for="userName">姓名：</label>
            <div class="col-md-2">
                <input class="form-control" type="text" id="userName" v-model="user.userName">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 col-md-offset-2 control-label" for="password">密码：</label>
            <div class="col-md-2">
                <input class="form-control" type="text" id="password" v-model="user.password">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 col-md-offset-2 control-label" for="nonLegacyCategories">非遗类别：</label>
            <div class="col-md-2">
                <input class="form-control" type="text" id="nonLegacyCategories" v-model="user.nonLegacyCategories">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 col-md-offset-2 control-label" for="nonLegacyLevel">非遗级别：</label>
            <div class="col-md-2">
                <input class="form-control" type="text" id="nonLegacyLevel" v-model="user.nonLegacyLevel">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 col-md-offset-2 control-label" for="dateOfBirth">出生年月：</label>
            <div class="col-md-2">
                <input class="form-control" type="text" id="dateOfBirth" v-model="user.dateOfBirth">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 col-md-offset-2 control-label" for="dateOfDeath">逝世年月：</label>
            <div class="col-md-2">
                <input class="form-control" type="text" id="dateOfDeath" v-model="user.dateOfDeath">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 col-md-offset-2 control-label" for="birthPlace">籍贯：</label>
            <div class="col-md-2">
                <input class="form-control" type="text" id="birthPlace" v-model="user.birthPlace">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 col-md-offset-2 control-label" for="nationality">所属民族：</label>
            <div class="col-md-2">
                <input class="form-control" type="text" id="nationality" v-model="user.nationality">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 col-md-offset-2 control-label" for="speciality">擅长方向：</label>
            <div class="col-md-2">
                <input class="form-control" type="text" id="speciality" v-model="user.speciality">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 col-md-offset-2 control-label"></label>
            <div class="col-md-1">
                <button class="btn btn-primary btn-sm" type="button" @click="saveAdd">保存</button>
            </div>
        </div>
    </form>
</div>
<script src="/js/jquery-3.4.0.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/vue-2.6.8.js"></script>
<script>
    var vue = new Vue({
        el:".container",
        data:{
            user:{}
        },
        methods:{
            saveAdd:function () {
                $.ajax({
                    url:"/users/add",
                    data:this.user,
                    dataType:"json",
                    type:"get",
                    success:function (res) {
                        if(res.code == 200){
                            alert("添加成功");
                            window.location = "/user/list.html";
                        }else{
                            alert("添加失败")
                        }
                    }
                })
            }
        },
        mounted:function () {

        }
    })
</script>
</body>
</html>